@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4">
            <h1>가챠 시스템</h1>
            <a href="/swagger" target="_blank">API 문서</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
