@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace GachaSystem.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <title>κ°€μ±  μ‹μ¤ν…</title>
    <link href="css/site.css" rel="stylesheet" />
    <link href="GachaSystem.styles.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            μ¤λ¥κ°€ λ°μƒν–μµλ‹λ‹¤.
        </environment>
        <environment include="Development">
            μ²λ¦¬λμ§€ μ•μ€ μμ™Έκ°€ λ°μƒν–μµλ‹λ‹¤. μμ„Έν• λ‚΄μ©μ€ λΈλΌμ°μ € κ°λ°μ λ„κµ¬λ¥Ό μ°Έμ΅°ν•μ„Έμ”.
        </environment>
        <a href="" class="reload">μƒλ΅κ³ μΉ¨</a>
        <a class="dismiss">π—™</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
